* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

._container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp body {
  background: url(../img/bg.jpg) center/cover repeat; }

.animation__earth {
  max-width: 100%;
}

.animation__earth img {
  position: relative;
  width: 30%;
  height: 30%;
  top: 300px;
  left: 30%;
  -webkit-animation-name: earth;
          animation-name: earth;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes earth {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes earth {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animation__moon {
  max-width: 100%;
}

.animation__moon img {
  position: relative;
  width: 15%;
  height: 15%;
  top: auto;
  left: 50%;
  -webkit-transform: rotate(220deg);
      -ms-transform: rotate(220deg);
          transform: rotate(220deg);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  -webkit-animation-name: moon;
          animation-name: moon;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes moon {
  0% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }

  100% {
    -webkit-transform: rotate(230deg);
            transform: rotate(230deg);
  }
}

@keyframes moon {
  0% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
  }

  100% {
    -webkit-transform: rotate(230deg);
            transform: rotate(230deg);
  }
}

.animation__spaceman {
  max-width: 100%;
}

.animation__spaceman img {
  position: relative;
  width: 0%;
  height: 0%;
  bottom: 400px;
  left: 20%;
  top: auto;
  -webkit-animation-name: spaceman;
          animation-name: spaceman;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes spaceman {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes spaceman {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

._webp body { background: url(../img/bg.webp) center/cover repeat; }